<div class="row">
  <div class="small-8 columns">
    <%= f.label :name, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :name %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :description, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :description %>
  </div>
  </div>
<div class="row">
  <div class="small-8 columns">
    <!-- just for spacing -->
  </div>
  <div class="large-4 columns">
    <%= f.submit "Save", class: "small button" %>
  </div>
</div>