<div class="row">
<div class="small-12 columns">
  <div class="section-container tabs" data-section="tabs">
  <section>
    <p class="title" data-section-title><a href="#">Vet Visits</a></p>
    <div class="content" data-section-content>
      <p>
        <table>
  <thead>
    <tr>
      <th width="100">Date</th>
      <th>Description</th>
      <th width="150">Veterinarian</th>
      <th width="150">Diagnosis</th>
      <th width="150">Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
  </tbody>
</table>
      </p>
      <a href="#" class="tiny button">New Record</a>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Immunizations</a></p>
    <div class="content" data-section-content>
      <p>
        <table>
  <thead>
    <tr>
      <th width="100">Date</th>
      <th>Type</th>
      <th width="150">Next Due</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
  </tbody>
</table>
      </p>
      <a href="#" class="tiny button">New Record</a>
    </div>
  </section>
 <section>
    <p class="title" data-section-title><a href="#">Medications</a></p>
    <div class="content" data-section-content>
      <p>
        <table>
  <thead>
    <tr>
      <th width="100">Date</th>
      <th>Description</th>
      <th width="150">Dosage</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
  </tbody>
</table>
      </p>
      <a href="#" class="tiny button">New Record</a>
    </div>
  </section>
  <section>
    <p class="title" data-section-title><a href="#">Known Conditions</a></p>
    <div class="content" data-section-content>
      <p>
        <table>
  <thead>
    <tr>
      <th width="100">Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td><%= link_to 'Edit'%> <%= link_to 'Delete'%></td>
    </tr>
  </tbody>
</table>
      </p>
      <a href="#" class="tiny button">New Record</a>
    </div>
  </section>
</div>

</div>
<!-- <div class="small-4 columns">small 4 here</div>
</div> -->

<div class="row">
  <div class="small-12 columns">
    <fieldset>
      <h3>My Pets</h3>
      <a href="#" class="tiny button">Create Pets</a>
      <ul class="small-block-grid-4">
        <li><%= image_tag("animal_logo.jpg", size: "75x75" ) %> Lilo Castillo</li>
        <li><%= image_tag("animal_logo.jpg", size: "75x75") %> Lolo Collado</li>
        <li><%= image_tag("animal_logo.jpg", size: "75x75") %> Ace Castillo</li>
        <li><%= image_tag("animal_logo.jpg", size: "75x75") %> Rufus Knights</li>
      </ul>
    </fieldset>
  </div>
</div>
------------------------------------------------------------------------------------
<br>

<!-- Size Classes -->
<a href="#" class="button">Default Button</a>
<a href="#" class="tiny button">Tiny Button</a>
<a href="#" class="small button">Small Button</a>
<a href="#" class="large button">Large Button</a>

<!-- Color Classes -->
<a href="#" class="button secondary">Secondary Button</a>
<a href="#" class="button success">Success Button</a>
<a href="#" class="button alert">Alert Button</a>

<!-- Radius Classes -->
<a href="#" class="button radius">Radius Button</a>
<a href="#" class="button round">Round Button</a>

<!-- Disabled Class -->
<a href="#" class="button disabled">Disabled Button</a>
<br>
Icon fonts
<i class="general foundicon-[edit]"></i>
<i class="general foundicon-[trash]"></i>
<i class="general-enclosed foundicon-[folder]"></i>
<i class="social foundicon-[twitter]"></i>
<i class="accessibility foundicon-[wheelchair]"></i>
<br>
------------------------------------------------------------------------------------
