<table>
  <thead>
    <tr>
      <th width="100">Date</th>
      <th>Description</th>
      <th width="150">Dosage</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% pet.medications.each do |p| %>
<tr>
  <td><%= p.name %></td>
  <td><%= p.description %></td>
  <td><%= p.dosage %></td>
  <td><%= link_to 'Edit', edit_user_pet_medication_path(pet.user_id, pet, p.id)%> <%= link_to 'Delete', user_pet_medication_path(pet.user_id, pet, p.id), confirm: "Are you sure?", method: :delete%></td>
</tr>
<% end %>
</tbody>
</table>