<table>
  <thead>
    <tr>
      <th width="100">Date</th>
      <th>Description</th>
      <th width="150">Veterinarian</th>
      <th width="150">Diagnosis</th>
      <th width="150">Notes</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% pet.visits.each do |p| %>
<tr>
  <td><%= p.date %></td>
  <td><%= p.description %></td>
  <td><%= p.veterinarian %></td>
  <td><%= p.diagnosis %></td>
  <td><%= p.notes %></td>
  <td><%= link_to 'Edit', edit_user_pet_visit_path(pet.user_id, pet, p.id)%> <%= link_to 'Delete', user_pet_visit_path(pet.user_id, pet, p.id), confirm: "Are you sure?", method: :delete%></td>
</tr>
<% end %>
</tbody>
</table>