<h2>Update Pet</h2>
<div class="row">
  <div class="small-9 small-centered large-uncentered columns">
<%= form_for ([@user,@pet]) do |f| %>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :name, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :name %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :gender, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :gender %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label :breed, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :breed %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :color, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :color %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label :weight, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :weight %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label :license, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :license %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label :microchip, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :microchip %>
  </div>
  </div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :species, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :species %>
  </div>
  </div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :rabies_id, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :rabies_id %>
  </div>
  </div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :neutered, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :neutered %>
  </div>
  </div>
<div class="row">
	<div class="small-8 columns">
    <!-- just for spacing -->
  </div>
  <div class="large-4 columns">
    <%= f.submit "Update my pet", class: "small button" %>
  </div>
</div>
<% end %>
</div>
</div>

