<h3><%= @pet.name %>'s Info</h3>
<%= link_to "edit info", edit_user_pet_path %>
<br>
Gender: <%= @pet.gender %>
<br>
Breed: <%= @pet.breed %>
<br>
Weight: <%= @pet.weight %> lbs
<br>
License #: <%= @pet.license %>
<br>
Microchip #: <%= @pet.microchip %>
<br>
Species: <%= @pet.species %>
<br>
Rabies ID: <%= @pet.rabies_id %>
<br>
Spayed/Neutered: <%= @pet.neutered %>
<h3><%= @pet.name %>'s Vet </h3>
<%= link_to "Create Vet", new_user_pet_vet_path(@pet.user.id, @pet) %>

<h3><%= @pet.name %>'s Insurance </h3>
Pet insurance info here

<h3><%= @pet.name %>'s Groomer </h3>
Groomer info here

<h3><%= @pet.name %>'s Records </h3>
