<div class="row">
  <div class="small-9 small-centered large-uncentered columns">
<%= form_for @user do |f| %>

<fieldset>
    <legend>Profile</legend>
<div class="row">
  <%= render 'shared/errors' %>
  <div class="small-8 columns">
    
    <%= f.label :first_name, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :first_name %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :last_name, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :last_name %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label :email, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :email %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :password, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.password_field :password %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label :password_confirmation, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.password_field :password_confirmation %>
  </div>
  </div>
<div class="row">
  <div class="small-8 columns">
    <!-- just for spacing -->
  </div>
  <div class="large-4 columns">
    <%= f.submit "Update" %>
  </div>
</div>
</fieldset>
<% end %>
</div>
</div>
