<div class="row">
  <div class="small-8 columns">
    <%= f.label :line1, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :line1 %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :line2, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :line2 %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label city, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field city %>
  </div>
</div>
<div class="row">
  <div class="small-8 columns">
    <%= f.label :state, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :state %>
  </div>
  </div>
  <div class="row">
  <div class="small-8 columns">
    <%= f.label :zip, class: "right inline" %>
  </div>
  <div class="large-4 columns">
    <%= f.text_field :zip %>
  </div>
  </div>